/* CSS Dosyası */


/* Boşlukları Sıfırla */
*{
    margin: 0px;
    padding: 0px;
}

#page{
    width:max-content;
    height: max-content;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    margin: auto;
}
#menu{
    width: max-content;
    height: 30px;
    border-color: white;
    margin: auto;
    
}
#menu ul{
    list-style-type: none;
    
}

#menu ul li{
    width: 60px;
    border-style: none;
    background-color: white;
    float: left;
    text-align: center;
    position: relative;
    left: 390px;
    top: 15px;

    
   
}
#menu ul li a{
    text-decoration: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;


}
#menu ul li a img{
    width: 25px;
    height: 25px;
    position: relative;
    bottom: 3px;
    

}
#menu ul li a span{
    display: inline;
    border: 2px solid blue;
    color: white;
    background-color: blue;
}
#menu ul li a:hover{
    text-decoration: underline;
    color: black;
}
#menu ul li a:visited{
    color: black;
}
#menu ul li a img:hover{
    border: 5px solid whitesmoke;
    border-radius: 100%;
    background-color: whitesmoke;
    

    
}
#menu ul li a img title{
    color: white;
    background-color: black;
}
form input{
    border: none;

} */
form input:hover{
    box-shadow: 2px 2px whitesmoke;
}

form div{
    border: 1px solid whitesmoke;
    border-radius: 40px;
}
form div img{
    width: 30px;
    background-color: white;


}
