/* CSS Dosyası */


/* Boşlukları Sıfırla */
*{
    margin: 0px;
    padding: 0px;
}

#page{
    width:max-content;
    height: max-content;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    margin: auto;
}

/* Nav Bar*/
#menu{
    width: max-content;
    height: 30px;
    border-color: white;
    margin: auto;
    
}
#menu ul{
    list-style-type: none;
    
}

#menu ul li{
    width: 60px;
    border-style: none;
    background-color: white;
    float: left;
    text-align: center;
    position: relative;
    left: 500px;
    top: 15px;

    
   
}
#menu ul li a{
    text-decoration: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;


}
#menu ul li a img{
    width: 25px;
    height: 25px;
    position: relative;
    bottom: 3px;
    

}
#menu ul li a span{
    display: inline;
    border: 2px solid blue;
    color: white;
    background-color: blue;
}
#menu ul li a:hover{
    text-decoration: underline;
    color: black;
}
#menu ul li a:visited{
    color: black;
}
#menu ul li a img:hover{
    border: 5px solid whitesmoke;
    border-radius: 100%;
    background-color: whitesmoke;
    

    
}
/* #menu ul li a img[title]:hover{
    color: white;
    background-color: black;
} */

form input{
    position: relative;
    left: 25px;
    border: none;

} */
article form:hover{
    box-shadow: 4px 4px whitesmoke;
}

form div{
    width: 600px;
    height: 40px;
    border: 1px solid rgb(192, 190, 190);
    border-radius: 40px;
    margin-bottom: 20px;
    
}
article img{
    background-color: white;
    margin-top: 210px;
    padding: 20px;
    position: relative;
    left: 120px;


}

article i{
    color: rgb(228, 224, 224);
    width: 10px;
    height: 5px;
    position: relative;
    left: 15px;
    align-items: center;



}
.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0px;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    width: 500px;
    margin: 10px; 5px

}

article ul{
    list-style-type: none;
}

article ul li{
    /* border: 2px solid whitesmoke; */
    background-color: whitesmoke;
    padding: 10px;
    float: left;
    text-align: center;
    position: relative;
    left: 125px;
    margin-left: 10px;
}
article ul li a{
    text-decoration: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.63);
}
article ul li:hover{
    border: 1px solid rgb(223, 220, 220);
}

article p {
    text-decoration: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.63);
    position: relative;
    left: 120px;
    padding: 30px;
}
footer{
    background-color: whitesmoke;
    
    
}

footer p{
    margin-top: 280px;
    padding: 10px;
    position: relative;
    right: 300px;
    background-color: whitesmoke;
}
footer ul{
    list-style-type: none;
    background-color: whitesmoke;
}
#footer1{
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.63);
    background-color: whitesmoke;
}
#footer1 li {
    float: left;
    padding-right: 30px;
    position: relative;
    right: 300px;
    background-color: whitesmoke;
}
#footer2{
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.63);
    background-color: whitesmoke;
    float: right;
}
##footer2 li {
    padding-right: 30px;
    position: relative;
    right: 100px;
    background-color: whitesmoke;
}
footer button{
    border: none;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.63);
    background-color: whitesmoke;
}