lorem1{
    height: 500px;
    width: 50%;
    background-color: indianred;
}
.lorem2 {
    background-color: lightblue;
    width: 300px;
    padding: 20px;
    border: 15px solid navy;
}

.max-width {
    max-width: 50%;
}

span{
    background-color: olive;
}

.min-width {
    min-width: 600px;
    display: inline-block;
   
}
.max-height {
    max-height: 20px;
    border: 10px solid red;
    padding: 10px;
    overflow: auto;
}

.last {
    background-color: palevioletred;

}

.min-height {
    min-height: 100px;
}