/* *{
    margin: 0px;
} */

div{
    background-color: rgba(255, 10, 50, 0.4);
    padding: 25px;
}


#baslik1 {
    background-color: aqua;
    /* margin-bottom: 0px; */

    
}

#par1 {
    background-color: darkgoldenrod;
    border: 20px solid red;
    height: 300px;
    width: 300px;
    margin-bottom: 50px;
    padding: inherit;
    box-sizing: border-box;
    
}

#baslik3{
    background-color: lawngreen;
    margin-top: 80px;
    
}


.container{
    background-color: bisque;
}

.box1{
    background-color: chocolate;
    width: 300px;
    height: 300px;
    border: 15px solid red;
    margin-top: 30px;
}
.box2{
    background-color: darkmagenta;
    width: 300px;
    height: 300px;
    border: 15px solid blue;
    padding: 50px;
    box-sizing: border-box;
    margin-top: 20px;
}
.box3{
    background-color: rgb(30, 173, 17);
    width: 300px;
    height: 300px;
    border: 30px solid grey;
}
a{
    text-decoration: none;
    margin-right: 10px;
    border: 1px solid darkorange;
    padding: 10px;
    border-radius: 15px;
    background-color: darkorange;
}