#container{
    display:grid;
    grid-template-columns: 200px 500px 200px 100px;
    grid-template-rows: 100px 400px;
    /* grid-column-gap: 10px;
    grid-row-gap: 20px; */
    /* grid-gap: 30px 10px; */
}
.content{
    background-color: lightseagreen;
    border: 1px solid grey;
}