*{
    margin: 0px;
    padding: 0px;
}

$primaryColor:#44ffd7;
$widthButton:100px;
$textColor:#fff;
nav{
    background-color: $primaryColor;
    &::after{
        clear: both;
        content: "";
        display: block;
    }
}

.left {
    list-style: none;
    float:left;
    li {
        $secondaryColor:darkgreen;
        display: inline-block;
        margin: 25px;
        background-color: $primaryColor;
        &:li:first-child{
            margin: 0px;
        }
        a{
            text-decoration: none;
        }
    }
    
}

p{
    background-color: $secondaryColor;
}
.right{
    float: right;
}

.cw, .linkedin {
    padding: 10px;
    display: inline-block;
    width: $widthButton;
    text-decoration: none;
    text-transform: uppercase;
    color: $textColor;
}
.cw{
    &:link{
        border-color: blueviolet;
    }
    &:hover{
        background-color: darken($color: $primaryColor, 20%);
    }
}

.linkedin{
    &:link{
        border-color: blueviolet;
    }
    &:hover{
        background-color: darken($color: $primaryColor, 20%);
    }
}

.left{
    color: azure;
}