/* Error: Positional arguments must come before keyword arguments.
 *    ,
 * 56 |         background-color: darken($color: $primaryColor, 20%);
 *    |                                                         ^^^
 *    '
 *   stle.scss 56:57  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Positional arguments must come before keyword arguments.\a    \2577 \a 56 \2502          background-color: darken($color: $primaryColor, 20%);\d\a    \2502                                                          ^^^\a    \2575 \a   stle.scss 56:57  root stylesheet";
}
